@charset "UTF-8";
/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

/**/

:root{
    --c01:#483C32;
    --c02:#54463A;
    --c03:#332A23;
    --c04:#110e0c;
    --c05:#E65C00;
} 
*{
    padding: 0px;
    margin: 0px;
}


  
  
  